* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #0989b4, #53ffee);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  width: 350px;
  height: 374px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.man {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.card-body {
  padding: 60px;
}

.card-body h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-body h2 span {
  color: gray;
  font-weight: normal;
}

.card-body p {
  font-size: 14px;
  color: gray;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.info h3 {
  font-size: 16px;
}

.info span {
  font-size: 12px;
  color: gray;
}
